[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*

# Visual Studio / JetBrains
.vscode/
*.csproj
*.sln
*.user
*.unityproj
.idea/
*.suo
*.tmp
*.userprefs

# Unity generated
sysinfo.txt
*.pidb
*.booproj
